<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %} - FlaskApp</title>
  <style>
    nav a {
      color: #d64161;
      font-size: 3em;
      margin-left: 50px;
      text-decoration: none;
    }

    .alert {
      padding: 20px;
      margin: 5px;
      color: #970020;
      background-color: #ffd5de;
    }

  </style>
  <link rel="stylesheet" href="static/css/open-iconic-bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/hw06.css">

</head>


<body>
  <nav>
    <a href="{{ url_for('lab06_index') }}">FlaskApp</a>
    <a href="{{ url_for('lab06_courses') }}">Courses</a>
    <a href="{{ url_for('hw06_register') }}">Register</a>
    <a href="{{ url_for('hw06_users') }}">UserList</a>
    <a href="#">About</a>
  </nav>
  <hr>
  <div class="content">
    {% for message in get_flashed_messages() %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
    {% block content %} {% endblock %}
  </div>
</body>


</html>